*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/440/252/836/bokeh-clock-pocket-time-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.container{
    
    width: 30%;
    height: 600px;
    margin-left: 55%;
    margin-top: 20.7%;
    
}
#empezar{
    margin-left: 83%;
    height: 100px;
    width: 100px;
    border: none;
    background-color: transparent;
    
    
}
#tiempo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left:20%;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-top: 35%;
    font-size: 80px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.504);
}